.sect1geofacile{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tablequest{
    margin-top: 5%;
    width: 40%;
    height: 350px;
    background-color: blue;
    display: grid;
    grid-template-rows: 18% 18% 18% 18%;
    border: 1px solid blue;
}
.divbut{
    width: 100%;
    height: 200px;
    background-color: blue;
    display: grid;
    grid-template-rows: 18% 18% 18% 18%;
}
.h2quest{
    text-align: center;
    color: white;
    font-size: 20px;
}
.buttonquest{
    width: 100%;
    border-bottom: 2px solid blue;
}